.widget {
  width: 620px;
  font-size: 12px;
  line-height: 1.5;
}

.buttons {
  margin: 8px 0;
}

.start, .length {
  width: 50px;
}

.widget pre {
  margin: 0;
  padding: 0;
  background: inherit;
  border: none;
}

.code {
  margin: 0 0 6px 0;
  padding: 6px;
  border: 1px solid black;
  font-family: monospace;
  font-size: 11px;
  width: auto;
  min-width: 420px;
  height: 350px;
  overflow: auto;
  float: left;
}

.c64 {
  border: 1px solid #A891FD;
  background-color: #694BD0;
  color: #A891FD;
  font-family: c64;
  font-size: 10px;	
}

.screen {
  float: right;
}

.debugger {
  border: 1px black solid;
  margin-top: 6px;
  padding: 3px;
  padding-top: 8px;
  height: 152px;
  width: 192px;
  text-align: center;
  float: right;
}

.minidebugger {
  margin: 0;
  margin-top: 6px;
  padding: 0;
  font-family: monospace;
  font-size: 11px;
}

.monitorControls {
  width: 587px;
  clear: both;
  margin-bottom: 10px;
  padding: 0;
}

.monitorControls input {
  margin-right: 0.5em;
}

.monitor {
  margin: 10px 0;
  padding: 6px;
  border: 1px solid #999;
  background-color: #ddd;
  width: 587px;
  height: 100px;
  overflow: auto;
  display: none;
}

.monitor-invalid {
  border: 1px inset #c00;
  padding: 2px 1px;
}

.messages {
  margin: 0;
  padding: 6px;
  border: 1px solid #999;
  background-color: #eee;
  overflow: auto;
  width: 620px;
  height: 100px;
  text-align: left;
  font-size: 12px;
  color: #444;
}

/* https://github.com/danjuls/frontend-magic/blob/master/app/fonts/c64-webfont.woff */
@font-face {
    font-family: "c64";
    src: url("C64_Pro_Mono-STYLE.woff") format('woff');
}

html {
	font-size: 14px;
}

.toc {
	font-size: 10pt;
	width: 100%;
	display: table;
}

.toc ul {
	display: table-row;
}
.nav-link {
	padding: 2px !important;	
	border-radius: 6px;
	border: 2px solid white;
}

.toc li {
	display: table-cell;
}
.toc .active {
	border-radius: 6px;
	border: 2px solid black;
}

.tablecode {
	font-family: monospace;
}

#user-guide {
	margin-top: 16px;
	display: block;
	box-sizing: border-box;
	height: 500px;
	overflow-x: auto;
	overflow-y: auto;
	position: relative;
	float: left;
}

#toolbar {
	margin-bottom: 1em;
}

h3 {
	background-color: #272c31;
	color: #ffffff;
	padding-left: 8px;
}

pre {
	font-family: monospace;
}

/** Make the simulator stick to the left part of the screen */
#simulator {
	display: table-cell;
	margin-left: 16px;
}

#logo {
	width: 140px;
	margin: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}